.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.forms{ 
  /* width: 60%; */
  margin: 1em auto;
  text-align: center;
  
  
  
}

.forms input{
  padding: 13px;
  width: 40%;
  font-size: 1em;
  background-color: transparent;
  border: none;
  box-shadow: 0 4px 8px gray;
  outline: none;
  margin-top: 1em;
  margin-bottom: 1em;
  
  
}

.forms button {
  padding: 11px;
  background-color: blueviolet;
  color: white;
  border: none;
  font-size: 1em;
  margin-left: 8px;
  box-shadow: 0 4px 8px gray;

}